.catalog-page{

  display: flex;
  flex-wrap: wrap;
}
.item{
justify-content: space-between;
  border: 5px solid gold;
  width: 300px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

.catalog-page-heading{
  margin-top: 100px;
}